/* styles for the elements */
label {
    margin-right: 3em;
}

input {
    margin-bottom: .5em;
}

select {
    margin-bottom: 4em;
    width: 7em;
}

/* styles for the class selectors */
.label {
    display: block;
    margin: 0px;
    float: left;
    width: 50%;
    text-align: right;
    padding: 15px;
    padding-top: 25px;
}

.button {
    color: #575960;
    font-family: 'Raleway', sans-serif;
    width: auto;
    height: auto;
    background: transparent;
    border: 2px solid #575960;
    font-size: .7em;
    margin: 15px;
    margin-top: 50px;
    padding: 5px 10px 5px 10px;
    opacity: 0.8;
    cursor: pointer;
    text-transform: uppercase;
}

.btnGroup {
    margin: 0 auto;
    position: relative;
    margin-left: 50%;
}

.btnSelect {
    margin: 0 auto;
    margin-top: 0px;
}



.validator {
    color: red;
}


.txtGroup {
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    width: 230px;
    height: 20px;
    padding: 10px;
    margin: 15px;
}

.ddl {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 252px;
    height: 50px;
    padding: 3px;
    margin: 15px;
}

.radio {
    padding: 15px;
    padding-bottom: 10px;
    text-align: left;
}

.reserve {
    margin: 0 auto;
    margin-top: 2%;
    margin-right: 10%;
    position: relative;
}

.userGroup {
    width: 85%;
}

.btnUserGroup {
    margin-left: 35%;
}

.validator {
    color: #cc0000;
}

#valid {
    position: relative;
    margin-left: 45%;
}

/*table*/
table {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-spacing: 8px;
}

.thead {
    font-weight: bold;
    font-size: 1.2em;
}

th, td, tr {
    font-size: 1.1em;
    border: 2px solid #575960;
    padding: 10px 20px 10px 20px;
    border-collapse: separate;
    text-align: center;
    background: transparent;
}

/*table*/

.checkAvailContent {
    margin-right: 10%;
    margin-top: 2%;
    position: relative;
}
